  :root {
    --clr-strong-cyan: hsl(171, 66%, 44%);
    --clr-strong-cyan-button: hsl(171, 40%, 44%);
    --clr-light-blue: hsl(233, 100%, 69%);
    --clr-light-blue-button: hsl(233, 40%, 44%);

    --clr-dark-grayish-blue: hsl(210, 10%, 33%);
    --clr-grayish-blue: hsl(201, 11%, 66%);
    --clr-grey: hsl(201, 11%, 95%);

    --ff-primary: "Bai Jamjuree", sans-serif;
    --ff-regular: 400;
    --ff-semi-bold: 600;

    --ff-32px: 2rem;
    --ff-16px: 1rem;
    --ff-18px: 1.125rem;
    --ff-28px: 1.75rem;
    --ff-24px: 1.5rem;
    --ff-46px: 2.875rem;
    --ff-20px: 1.25rem;
    --ff-36px: 2.25rem;
  }

  /*
    1. Use a more-intuitive box-sizing model.
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root,
  #__next {
    isolation: isolate;
  }

  body {
    font-family: var(--ff-primary);
    font-size: 1.125rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  .header-container {
    --containers-padding: 0 2rem 2rem;
  }

  .header__images-container {
    position: relative;
    display: inline-block;
  }

  .background-image-mbl-dsktp {
    display: block;
    height: 375px;
  }

  .logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__information-container {
    padding: var(--containers-padding);
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
  }

  .header__h1-styling {
    font-size: var(--ff-32px);
    text-align: center;
    font-weight: var(--ff-semi-bold);
    color: var(--clr-dark-grayish-blue);
    letter-spacing: -0.033rem;
  }

  .header__p-styling {
    padding-top: 1.5rem;
    font-size: var(--ff-16px);
    text-align: center;
    color: var(--clr-grayish-blue);
    letter-spacing: 0.008rem;
  }

  .header__flex-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: var(--containers-padding);
  }

  .header__iOS-button {
    width: 19.438rem;
    border: 0;
    background-color: var(--clr-strong-cyan);
    border-radius: 2rem;
    height: 3.5rem;
    color: white;
    box-shadow: 0 0.2rem 1px var(--clr-strong-cyan-button),
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  .header__iOS-button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .header__iOS-button:hover {
    cursor: pointer;
  }

  .header__Mac-button {
    width: 19.438rem;
    border: 0;
    color: white;
    background-color: var(--clr-light-blue);
    border-radius: 2rem;
    height: 3.5rem;
    box-shadow: 0 0.2rem 1px var(--clr-light-blue-button),
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  .header__Mac-button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .header__Mac-button:hover {
    cursor: pointer;
  }

  .article-container-first {
    --containers-padding: 0 2rem 2rem;
    margin-top: 8rem;
    padding: var(--containers-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .article__h2-styling {
    font-size: var(--ff-28px);
    text-align: center;
    color: var(--clr-dark-grayish-blue);
  }

  .article__p-styling {
    font-size: var(--ff-16px);
    color: var(--clr-grayish-blue);
    text-align: center;
  }

  .article__h3-styling {
    font-size: var(--ff-24px);
    text-align: center;
    color: var(--clr-dark-grayish-blue);
  }

  .article__computer-image-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .article__information-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .article-container-second {
    --containers-padding: 0 2rem 2rem;
    margin-top: 8rem;
    padding: var(--containers-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .article__devices-image-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .article__icons-flex {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .logo-images-container {
    padding: 0 2rem 2rem;
    margin-top: 8rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
    grid-gap: 4rem;
  }

  .article-container-third {
    --containers-padding: 0 2rem 2rem;
    margin-top: 8rem;
    padding: var(--containers-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 8rem;
  }

  .header__flex-buttons {
    padding: 0;
    padding-top: 2rem;
  }

  .footer-container {
    padding-top: 2rem;
    background-color: var(--clr-grey);
  }

  .footer__logo-container {
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
  }

  .footer__logo-image {
    width: 3.438rem;
  }

  .footer__buttons-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
  }

  .footer__grid-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .footer__grid-column > a {
    padding-top: 1rem;
  }

  .footer__a-styling {
    text-decoration: none;
    color: var(--clr-dark-grayish-blue);
  }

  .footer__a-styling:active {
    cursor: pointer;
    color: var(--clr-strong-cyan);
  }

  .footer__flex-icons {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
  }

  .footer__anchor-icons:active {
    filter: invert(62%) sepia(44%) saturate(631%) hue-rotate(122deg)
      brightness(89%) contrast(97%);
  }

  #invisible-anchor {
    visibility: hidden;
  }

  @media (min-width: 90rem) {
    .header__h1-styling {
      font-size: var(--ff-46px);
      letter-spacing: -0.75px;
    }

    .header__p-styling {
      font-size: var(--ff-18px);
      padding-left: 22.188em;
      padding-right: 22.188em;
    }

    .header__flex-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .header__iOS-button {
      width: 14.188em;
    }

    .header__Mac-button {
      width: 14.188em;
    }

    .article-container-first {
      margin-top: 6rem;
    }

    .article__h2-styling {
      font-size: var(--ff-36px);
    }

    .article-container-first > p {
      padding-left: 22.188em;
      padding-right: 22.188em;
    }

    .article__first-grid-container {
      margin-top: 6rem;
      display: grid;
      grid-template-columns: 47em 1fr;
      height: 35.75em;
      margin-left: -8em;
    }

    .article__information-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 4rem;
      height: 25.375em;
      gap: 1em;
      padding-top: 8em;
    }

    .article__information-container h3 {
      padding-top: 2em;
      text-align: left;
    }

    .article__information-container p {
      text-align: left;
      width: 21.875em;
    }

    .article__information-flex-group {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      margin-left: 7em;
      padding-right: 7em;
    }

    .article__information-flex-group > h3 {
      grid-row: 2/3;
    }

    .article__information-flex-group > p {
      grid-row: 3/4;
    }

    .logo-images-container {
      display: flex;
      justify-content: center;
    }

    .article-container-third p {
      padding-right: 23em;
      padding-left: 23em;
    }

    .footer__logo-container {
      padding-top: 3em;
    }

    .footer-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
    }

    .footer__buttons-container {
      display: flex;
      gap: 7rem;
    }

    .footer__grid-column {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .footer__flex-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding-top: 3rem;
    }

    #invisible-anchor {
      visibility: hidden;
    }
  }
